{% load pagination_tags %}
{% autopaginate posts 5 %}
{% paginate %}
                {% for post in posts %}
                    {% url post post.id post.slug as post_url %}
                    <div class="box blogteaser">
                        <div class="cont">
                            <!-- RSS here
<a href="/dailyarticles.xml" title="Subscribe to Mises Institute Daily Articles" class="rss">rss</a>
                            -->
                            <h2>
                                <a href="{{ post_url }}" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkTitle">{{ post.title }}</a>
                            </h2>
                            <p class="author">
                                {{ post.publish_at|date|capfirst }}
                                kirjoittanut
                                <a id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkAuthor" href="{% url user post.author.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
                            </p>
                            {% if post.preview_img %}
                            <div class="bord-se">
                                <div class="bord-ne">
                                    <div class="bord-s">
                                        <a href="{{ post_url }}" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkImage">
                                            <img src="{{ post.preview_img }}" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_imgStory" style="margin: 5px;" alt="Thumbnail" height="75" width="100">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <p>
                                {{ post.preview|safe }}
                                <a href="{{ post_url }}" class="more" id="ctl00_ctl00_ContentPlaceHolder1_ContentPlaceHolder1_FeaturedArticle1_rptFeaturedArticle_ctl00_lnkMore">lue lisää…</a>
                            </p>
                        </div>
                    </div>
                {% endfor %}
{% paginate %}

