{% extends "base.html" %}
{% load misesfilters %}

{% block extra_head %}
    <meta property="fb:admins" content="816080216" />    
{% endblock extra_head %}

{% block sidebar %}

<script
src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like-box
href="http://www.facebook.com/pages/Mises-instituutin-stream/155517304512872"
width="300" show_faces="false" stream="true" header="false"></fb:like-box>

    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:activity site="mises.fi" width="300" height="300" header="true" font="" border_color="" recommendations="false"></fb:activity>

{% endblock sidebar %}

{% block content %}
<div id="FeaturedArticles">
{% blog_post_list %}
</div>
{% endblock content %}

