{% extends "base.html" %}
{% load misesfilters %}

{% block extra_head %}
    <meta name="description" content="{{ post.preview }}" />

<!-- OG -->
    <meta property="og:title" content="Mises-Instituutti{% if title %} · {{ title }}{% endif %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://mises.fi{% url post post.id post.slug %}" />
    <meta property="og:description" content="{{ post.preview }}" />
    
    <meta property="og:image" content="{{ post.preview_img }}" />
    <meta property="og:site_name" content="Mises Instituutti" />
    <meta property="fb:admins" content="816080216" />    
<!-- /OG -->
{% endblock extra_head %}

{% block sidebar %}
<div id="sidebar">

<script
src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like-box
href="http://www.facebook.com/pages/Mises-instituutin-stream/155517304512872"
width="300" show_faces="false" stream="true" header="false"></fb:like-box>


    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <fb:activity site="mises.fi" width="300" height="300" header="true" font="" border_color="" recommendations="false"></fb:activity>
</div>

{% endblock sidebar %}

{% block content %}

<div class="rel">
    {% blog_nav %}
</div>

<h1>{{ post.title }}</h1>
<p class="meta">
    {{ post.publish_at|date|capfirst }}
    kirjoittanut
    <a id="author" href="{% url user post.author.username %}">{{ post.author.first_name }} {{ post.author.last_name }}</a>
    {% if post.co_author %}
    ja <a id="author" href="{% url user post.co_author.username %}">{{ post.co_author.first_name }} {{ post.co_author.last_name }}</a>
    {% endif %}
</p>
<div id="DailyArticle">
{{ post.content|safe }}
</div>
<div id="bottom_facebook">
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<fb:like href="" show_faces="false" width="450" font=""></fb:like>

<br />
<a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Share</a>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
</div>

{% if comments %}
<hr />
{% for comment in comments %}
    <div style="padding-left: 10px; padding-top: 10px; border: 1px solid #CCCCCC;">
        <div style="padding-bottom: 5px;">
            #{{ forloop.counter }} | {{ comment.submit_date|date }} {{ comment.submit_date|time }} | <a href="{% url user comment.user %}" target="_new">{{ comment.user.first_name }} {{ comment.user.last_name }}</a>
        </div>
        <div style="padding-bottom: 5px;">
            {{ comment.comment|safe }}
        </div>
    </div>
{% endfor %}
{% endif %}
<hr />
{% if user.email and user.get_profile.is_verified %}
    <div style="padding-left: 10px;">
        <form method="post" action="">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit" name="submit">Kommentoi</button>
        </form>
    </div>
{% else %}
    <div style="padding-left: 10px;">
        {% if user.email %}
        Klikkaa <a href="{% url get_verification_code %}">tästä</a> tilaaksesi vahvistuskoodin sähköpostiin, jotta voit kommentoida kirjoitusta
        {% else %}
        Voit kommentoida tätä kirjoitusta <a href="{% url login %}">kirjautumalla sisään</a>
        {% endif %}
    </div>
{% endif %}
{% endblock content %}

