{% extends "admin/change_form.html" %}

{% block object-tools %}
{{ block.super }}
<p style="margin-top: 20px;">
<ul class="object-tools">
    <li>
        <a class="viewsitelink" href="{{ original.get_preview_url }}" target="_new">
            Esikatsele
        </a>
    </li>
</ul>
</p>
{% endblock object-tools %}

{% block after_related_objects %}
<div style="padding-top: 10px; border: 1px solid #CCCCCC; width: 735px;">
{% if comments %}
<p>
    {% for comment in comments %}
    <div style="padding-left: 10px; padding-top: 10px; border: 1px solid #CCCCCC;">
        <div style="padding-bottom: 5px;">
            {{ comment.user }}
        </div>
        <div style="padding-bottom: 5px;">
            {{ comment.comment|safe }}
        </div>
    </div>
    {% endfor %}
</p>
{% endif %}
<div style="padding-left: 10px;"> {# This is still within a <form> tag #}
    {{ comment_form.as_p }}
</div>
</div>
{% endblock after_related_objects %}

