<ul class="usernav">
    <li class="first">
        {% if user.id %}
        <a href="{% url user user.username %}">Oma profiili</a>
        {% else %}
        <a href="{% url register %}">Rekisteröidy</a>
        {% endif %}
    </li>
    {% if user.is_staff %}
    <li>
        <a href="{% url admin:index %}">Ylläpito</a>
    </li>
    {% endif %}
    <li>
        {% if user.id %}
        <a href="{% url logout %}">Kirjaudu ulos</a>
        {% else %}
        <a href="{% url login %}">Kirjaudu</a>
        {% endif %}
    </li>
</ul>

